<div class="container" style="margin-top: 50px;">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Versão</th>
                      <th scope="col">Liberado em</th>
                      <th scope="col">Link</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>3.18.3-85</td>
                      <td>21/12/2018</td>
                      <td><a href="#">Download</a></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>3.18.3-85</td>
                      <td>21/12/2018</td>
                      <td><a href="#">Download</a></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>3.18.3-85</td>
                      <td>21/12/2018</td>
                      <td><a href="#">Download</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
